<div class="container-fluid">
    <div class="row">
        <h1><b>QUIENES NOS AVALAN</b></h1>
    </div>
    <div class="row">
        <p>Nos gustaría referirnos a grandes clientes atendidos hace algunos años, que dán crédito y avalan sin duda nuestra buena gestión global de servicio; sin desmerecer a otros clientes menores que han sido atendidos con la misma preocupación y esmero.</p>
    </div>
    <div class="row">
        <div class="col-sm-3"><img src="../../../../assets/clientes/cliente-tabaco.jpg" alt=""></div>
        <div class="col-sm-3"><img src="../../../../assets/clientes/cliente-chilquinta.png" alt=""></div>
        <div class="col-sm-3"><img src="../../../../assets/clientes/cliente-melon.png" alt=""></div>
        <div class="col-sm-3"><img src="../../../../assets/clientes/cliente-pucv.png" alt=""></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><img src="../../../../assets/clientes/cliente-pucv.png" alt=""></div>
        <div class="col-sm-4"><img src="../../../../assets/clientes/cliente-pucv.png" alt=""></div>
        <div class="col-sm-4"><img src="../../../../assets/clientes/cliente-pucv.png" alt=""></div>
    </div>
</div>