<br>
<br>

<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
        <!-- Grid column -->
            <div class="col-md-4 mx-auto">
            <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Datos</h5>
                <p>Comalim LTDA.<br>R. Phillippi 255, Sector Portales<br>Valparaíso, Chile<br>Fono: 56 (32)2622409</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['/empleo']">Trabaja con nosotros</a>
                    </li>
                    <li>
                        <a [routerLink]="['/buscar-contacto']">Mensajes</a>
                    </li>
                    <li>
                        <a href="#!">Clientes</a>
                    </li>
                    <li>
                        <a href="#!">Empleados</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
          <!-- Links -->
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="https://api.whatsapp.com/send?phone=[+56][999648084]">
          <i class="fab fa-whatsapp-square"></i>
        </a>
      </li>  
    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      Copyright © 2012 Comalim ltda. www.comalim.cl
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

