<div class="container-fluid">
    <div class="row" id="cabeza">
        <h1>¿QUÉ NOS HACE ESPECIALES Y POR QUÉ ELEGIRNOS?</h1>
        <h3>NUESTROS INGREDIENTES PRINCIPALES</h3>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/estabilidad.png" alt="">
            <h5>Estabilidad y confiabilidad</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Somos una empresa sólida respecto a la gestión comercial, tributaria y financiera, avalada por la buena evaluación disponible en los organismos gubernamentales del tipo Legal Tributario, Legales, Laborales, así como en Seguridad, Prevención de Riesgos y Control medioambiental.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/trayectoria.png" alt="">
            <h5>Trayectoria</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Llevamos más de 40 años brindando servicios en el mercado nacional, destacados por buenas experiencias y la gran consistencia de los servicios prestados.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/profesionalismo.png" alt="">
            <h5>Profesionalismo</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Contamos con un equipo altamente calificado de Ingenieros en Alimentos, Nutricionistas y expertos del rubro: Aplicados, serios y eficaces en el trabajo desempeñado; que garantizan la excelencia de la respuesta a los requerimientos que necesite.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/ligera.png" alt="">
            <h5>Estructura Ligera</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Nuestra frescura, ligereza y flexibilidad organizacional y operacional, nos permite ser una opción más versátil, capaces de adaptarnos a cualquier tipo de cliente.**y acompañarlos en sus proyectos y procesos**</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/respuesta.png" alt="">
            <h5>Alta capacidad de respuesta</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Contamos con instalaciones en pleno centro industrial de Valparaíso que contemplan: Planta elaboradora y cocina central, central de abastecimiento y red de distribución propia, que sin dudas nos perimte tener una alta capacidad de respuesta ante los requerimientos de nuestros clientes *contingencias*</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/cercania.png" alt="">
            <h5>Cercanía</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Nuestra estructura organizacional horizontal, nos permite siempre mantener relaciones directas y cercanas con todos nuestros clientes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/personalizacion.png" alt="">
            <h5>Personalización</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Nos enfrentamos a cada cliente con una hoja en blanco, dispuestos de construirla desde diferentes ángulos; siendo la atención personalizada una de nuestras politicas principales.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/saludable.png" alt="">
            <h5>Alimentación Saludable</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>COMALIM tiene una orientación particular hacia la "Alimentación Natural". Nos encargamos de utilizar dentro de nuestras preparaciones la mayor cantidad de alimentos naturales, frescos y de realizar estas mismas en base a técnicas sanas de cocina.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="iconos">
            <img src="../../../../assets/iconos/recurso.png" alt="">
            <h5>Recurso Humano</h5>
        </div>
        <div class="col-sm-6" id="texto">
            <p>Reconocemos al capital humano como uno de los pilares determinantes de la calidad de los servicios entregados.</p>
            <p>Por ello, nuestra selección de personal se realiza con el fin de generar ambientes acogedores, con trato amable y servicial.</p>
            <p>Destacamos que la politica existente frente a este recurso, fomenta la comunicación, desarrollo personal, motivación, respeto por las personas e integración de los equipos de trabajo.</p>
        </div>
    </div>
</div>