.container-fluid
{
    padding-top: 100px;
    align-items: center;
    width: 30%;
}

.btn
{
    border-color: green;
    color: green;
}

.btn:hover
{
    background-color: green;
    color: white;
}

h1
{
    text-align: center;
}

input:focus, select:focus, textarea:focus, #archi:focus
{
    border-color: green;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px green;
    outline: 0 none;
}