<div class="container-fluid">
    <h1>TIPOS DE CLIENTES</h1>
    <div class="row">
        <h4>NUESTROS CLIENTES</h4>
        <p>Cada uno de nuestros clientes es importante, sin importar su tamaño o industria.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4" id="cuadro1" style="background-color: cornflowerblue;">
                <p class="frases">EMPRESAS O INSTITUCIONES PUBLICAS</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4" id="cuadro2" style="background-color: cornflowerblue;">
                <p class="frases">UNIVERSIDADES</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4" id="cuadro3" style="background-color: cornflowerblue;">
                <p class="frases">COLEGIOS</p>
            </div>
        </div>
    </div>
</div>