<div class="container-fluid">
  <form class="formulario" action="POST">
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" autocomplete="off" [(ngModel)]="filtrado.nombre">
      </div>
      <div class="form-group col-sm-3">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" class="form-control" autocomplete="off" [(ngModel)]="filtrado.apellido">
      </div>
      <div class="form-group col-sm-3">
        <label for="comunas">Comuna</label>
        <select name="comunas" class="form-select" [(ngModel)]="filtrado.comuna">
          <option value="">Escoger</option>
          <option value="{{comunas.nombre}}" *ngFor="let comunas of com">{{comunas.nombre}}</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="cargos">Cargo</label>
          <select name="cargos" class="form-select" [(ngModel)]="filtrado.cargo">
            <option value="">Escoger</option>
            <option value="{{cargos.puesto}}" *ngFor="let cargos of car">{{cargos.puesto}}</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="experiencia">Experiencia</label>
          <select name="experiencia" class="form-select" [(ngModel)]="filtrado.experiencia">
            <option value="">Escoger</option>
            <option value="si">Si</option>
            <option value="no">No</option>
          </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="curso">Curso</label>
          <select name="curso" class="form-select" [(ngModel)]="filtrado.curso">
            <option value="">Escoger</option>
            <option value="si">Si</option>
            <option value="no">No</option>
          </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="disponibilidad">Disponibilidad Inmediata</label>
          <select name="disponibilidad" class="form-select" [(ngModel)]="filtrado.disponibilidad">
            <option value="">Escoger</option>
            <option value="si">Si</option>
            <option value="no">No</option>
          </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="jornada">Jornada Laboral</label>
        <select name="jornada" id="jornada" class="form-select" [(ngModel)]="filtrado.jornada">
            <option value="">Escoger</option>
            <option value="completa">Jornada Completa</option>
            <option value="media">Media Jornada</option>
            <option value="reemplazo">Reemplazos</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label>Sueldo Máximo Esperado</label>
        <input type="number" name="superior" class="form-control" placeholder="" autocomplete="off" [(ngModel)]="filtrado.sueldo">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-3">
        <button type="submit" id="btnBuscar" class="btn" (click)="listarPostulantes()">Buscar</button>
      </div>
    </div>
  </form>
  <br>
</div>

<div class="container-fluid" style="text-align: center;">
  <table class="table" id="mitabla">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Comuna</th>
        <th scope="col">Cargo</th>
        <th scope="col">Experiencia</th>
        <th scope="col">Curso</th>
        <th scope="col">Disponibilidad</th>
        <th scope="col">Jornada</th>
        <th scope="col">Sueldo</th>
        <th scope="col">Más</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of con | filter: filtrado | filtro: filtrado.nombre | filtroApe: filtrado.apellido">
        <td> {{ contacto.id               }} </td>
        <td> {{ contacto.fecha            }} </td>
        <td> {{ contacto.nombre           }} </td>
        <td> {{ contacto.apellido         }} </td>
        <td> {{ contacto.comuna           }} </td>
        <td> {{ contacto.cargo            }} </td>
        <td> {{ contacto.experiencia      }} </td>
        <td> {{ contacto.curso            }} </td>
        <td> {{ contacto.disponibilidad   }} </td>
        <td> {{ contacto.jornada          }} </td>
        <td> {{ contacto.sueldo           }} </td>
        <td> <i class="fas fa-address-book fa-lg" id="detalles" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="detallePostulante(contacto.id)"></i></td>
        <td> <i class="fas fa-trash fa-lg" id="eliminar" data-bs-toggle="modal" data-bs-target="#staticModalEliminar" (click)="detallePostulante(contacto.id)"></i></td> 
      </tr>
    </tbody>
  </table>
</div>

<!--MODAL DETALLES-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" *ngFor="let detalle of det">{{detalle.nombre}} {{detalle.apellido}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 *ngFor="let detalle of det">Correo: {{detalle.correo}}</h5>
        <h5 *ngFor="let detalle of det">Teléfono: {{detalle.fono}}</h5>
        <h5 *ngFor="let detalle of det">Curriculum: {{detalle.curriculum}}</h5>
        <h5 *ngFor="let detalle of det">Mensaje: {{detalle.mensaje}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL ELIMINAR-->
<div class="modal fade" id="staticModalEliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 *ngFor="let detalle of det">¿Está seguro de eliminar a {{detalle.nombre}} {{detalle.apellido}}?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="btnEliminar" *ngFor="let detalle of det" (click)="eliminarPostulante(detalle.id)" data-bs-dismiss="modal">Eliminar</button>
        <button type="button" class="btn" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>