<div class="container-fluid">
    <div class="row" style="background-color: crimson;">
        <div class="col-sm-5" id=izq>
            <img src="../../../../assets/Logo Comalim 1.png" alt="">
        </div>
        <div class="col-sm-2" id="cen" style="background-color: darkgreen;">
            <p>1980</p>
        </div>
        <div class="col-sm-5" id="der">
            <p><b>Gloria Cárdenas Angulo</b>, de profesión Ingeniero de Alimentos graduada en la Pontificia Universidad Católica de Valparaíso, inició su actividad en el rubro de la alimentación colectiva en el año 1980, en la V Región, como persona natural; al hacerse cargo de la Concesión de Casinos de la <b>ENAMI Fundición y Refinería Ventanas.</b></p>
        </div>
    </div>
    <div class="row" style="background-color: darkblue;">
        <div class="col-sm-5" id="izq">
            <img src="../../../../assets/Logo Comalim 2.png" alt="">
        </div>
        <div class="col-sm-2" id="cen" style="background-color: darkgreen;">
            <p>1990-2011</p>
        </div>
        <div class="col-sm-5" id="der">
            <p><b>COMALIM</b>, o bien conocida en su razón social como "Sociedad comercial de alimentación Gloria Cárdenas Angulo y Compañía Limitada", adquiere gran relevancia competetiva a nivel regional, al hacerse cargo de la concesión de grandes clientes tales como <b>CHILETABACOS, SOPRAVAL/AGROSUPER</b> e <b>INESA/CÓRPORA</b>. Todos atendidos en promedio por más de 10 años continuados</p>
        </div>
    </div>
    <div class="row" style="background-color: darkgoldenrod;">
        <div class="col-sm-5" id="izq">

        </div>
        <div class="col-sm-2" id="cen" style="background-color: darkgreen;">
            <p>2021</p>
        </div>
        <div class="col-sm-5" id="der">
            <p>Se incorpora la segunda generación a la <b>Empresa Familiar</b>, para continuar construyendo el legado de una empresa reconocida por todos por sus años de consistentes excelentes servicios en el mercado.</p>
        </div>
    </div>
</div>