<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mx-auto" id="columna">
            <div class="card">
                <a [routerLink]="['/buscar-contacto']">
                    <img class="card-img-top" src="../../../../assets/contacto.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Contactos</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 mx-auto" id="columna">
            <div class="card">
                <a [routerLink]="['/mi-portal']">
                    <img class="card-img-top" src="../../../../assets/postulante.jfif" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Postulantes</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 mx-auto" id="columna">
            <div class="card">
                <a [routerLink]="['/mantenedor-datos']">
                    <img class="card-img-top" src="../../../../assets/datos.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Mantenedor de Datos</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 mx-auto" id="columna">
            <div class="card">
                <a [routerLink]="['']">
                    <img class="card-img-top" src="../../../../assets/encuesta.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Encuestas</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>