<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>HOLA! SOMOS COMALIM.</h1>
            <p>Somos una empresa familiar, especializada en la gestión de servicios de alimentación colectiva</p>
        </div>
        <div class="col-sm-6">
            <p>"Creemos que la mayoría de las cosas buenas suceden alrededor de una mesa que contenga ingredientes honestos y la mejor compañia."</p>
            <p>La fundadora de la empresa, Gloria Cárdenas, ha tenido una pasión por los alimentos y la gastronomía a lo largo de toda su vida.</p>
            <p>Los mejores momentos que lleva consigo los ha pasado sentada alrededor de una mesa con familiares y amigos compartiendo comida. Es por ello que desde hace 40 años en Comalim, hemos estado brindando esta experiencia a otros.</p>
            <p>Nuestra empresa entonces, a través de profesionalismo, familiaridad y atenición personalizada; ofrece servicios de alimentación a grupos o colectividades de tipo casera y natural, aplicando los conocimientos de las ciencias de la nutrición, tecnología e ingeniería de los alimentos, así como del arte culinario.</p>
        </div>
    </div>
</div>