.contenedor
{
    padding-top: 76px;
}

.carousel-inner img 
{
    width: 100%;
    max-height: 660px;
}

.carousel-inner
{
 height: 660px;
}

#imgIzq
{
    margin-left: auto; 
    background: url(../../../../assets/mercado.jpg);
    height: 400px;
    width: 400px;
}

#imgDer
{
    margin-right: auto;
    background: url(../../../../assets/datos.jpg);
    height: 400px;
    width: 400px;
}

.btn
{
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(51, 48, 48, 0.5);
    height: 100px;
    width: 200px;
    margin-top: 60%;
}

.btn:hover
{
    transform: scale(1.2);
    transition: all .8s;
}