<div class="contenedor">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../../assets/ciudad.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/encuesta.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/contacto.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6" id="imgIzq">
            <div class="row">
                <button class="btn">Ingredientes Increibles</button>
            </div>
        </div>
        <div class="col-sm-6" id="imgDer">
            <div class="row">
                <button class="btn">Comidas Increibles</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <app-tipo-servicios></app-tipo-servicios>
    <br>
    <br>
    <app-tipo-clientes></app-tipo-clientes>
    <br>
    <br>
    <app-quienes-avalan></app-quienes-avalan>
</div>